{% extends "shop/base.html" %}
{% load static %}
{% block content %}

<body>

  <!-- Navbar -->
  <!-- <div class=" inner-page"> -->
    <!-- //header -->
    <!-- from base -->
    <!-- //header -->
  <!-- </div> -->
  <!-- Navbar -->

  <!--Main layout-->
  <main class="mt-5 pt-4">
  <div class="container py-md-3">
   
     <h1>{{ product.name }}</h1> 
    



      
<!-- <div class="product-detail">
    <img src="{{ product.image.url }}" style="height: 300px">
    <h1>{{ product.name }}</h1>
    <h4><a href="{{ product.category.get_absolute_url }}">More items in this category</a>
    </h4>
        <p class="price">Ksh.{{ product.price }}</p>  -->
        <!-- <input type="submit" value="Add to cart"> -->
        <!-- {{ product.description|linebreaks }}
</div>
<p class="price">Ksh.{{ product.price }}</p>
<form action="{% url 'cart:cart_add' product.id %}" method="post">
    {{ cart_product_form }}
    {% csrf_token %}
  <input type="submit" value="Add to cart">
</form>
{{ product.description|linebreaks }}





    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">
        <!-- <h1>{{ product.name }}</h1> -->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="{{ product.image.url }}" style="height: 400px" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
             
              
            </div>

            <p class="lead">
              <span class="mr-1">
                <!-- <del>$200</del> -->
              </span>
              <strong>Price</strong><br>
              <span>Ksh.{{ product.price }}</span>
            </p>

            <p class="lead font-weight-bold">Description</p>
            <p>{{ product.description|linebreaks }}</p>

            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et dolor suscipit libero eos atque quia ipsa
              sint voluptatibus!
              Beatae sit assumenda asperiores iure at maxime atque repellendus maiores quia sapiente.</p> -->

            
              <!-- Default input -->
              <!-- <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px"> -->
              <!-- <button class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button> -->
              <form class="d-flex justify-content-left" action="{% url 'cart:cart_add' product.id %}" method="post"  >
                  {{ cart_product_form }}
                  {% csrf_token %}
                  <br> <br>
                <input type="submit"  class="form-control" style="width: 100px; color: rgb(182, 22, 22)" value="Add to cart">
              </form>

              <div class="mb-3">
                  <a href=" {{ product.category.get_absolute_url }} "><br> 
                    <span class="badge blue mr-1">More on this category</span>
                  </a>
                  
                </div>

            

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Additional information</h4>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit
            voluptates,
            quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </div>
  </main>
  <!--Main layout-->

  <!-- footer -->
  <div class="footer_agileinfo_topf py-5 main-sec ">
    <div class="container py-md-5 "  >
        <div class="row">
            <!-- <div class="col-lg-3 footer_wthree_gridf mt-lg-5"> -->
                <div id="logo">
                    <h1> <a href="index.html"><span class="log-w3pvt">ORTHO</span></a> <label class="sub-des">Enterprise Limited </label></h1>
                </div>
            <!-- </div> -->
            <div class="col-lg-3 footer_wthree_gridf mt-md-0 mt-4">
                <ul class="footer_wthree_gridf_list">
                    <li>
                        <a href="index.html"><span class="fa fa-angle-right" aria-hidden="true"></span> Home</a>
                    </li>
                    <li>
                        <a href="about.html"><span class="fa fa-angle-right" aria-hidden="true"></span> About</a>
                    </li>
                    <li>
                        <a href="shop.html"><span class="fa fa-angle-right" aria-hidden="true"></span> Shop</a>
                    </li>
                    <li>
                        <a href="shop.html"><span class="fa fa-angle-right" aria-hidden="true"></span>Collections</a>
                    </li>

                </ul>
            </div>
            <div class="col-lg-3 footer_wthree_gridf mt-md-0 mt-sm-4 mt-3">
                <ul class="footer_wthree_gridf_list">
                    <li>
                        <a href="single.html"><span class="fa fa-angle-right" aria-hidden="true"></span> Extra Page</a>
                    </li>

                    <li>
                        <a href="#"><span class="fa fa-angle-right" aria-hidden="true"></span> Terms & Conditions</a>
                    </li>
                    <li>
                        <a href="single.html"><span class="fa fa-angle-right" aria-hidden="true"></span> Shop Single</a>
                    </li>
                    <li>
                        <a href="contact.html"><span class="fa fa-angle-right" aria-hidden="true"></span> Contact Us</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 footer_wthree_gridf mt-md-0 mt-sm-4 mt-3">
                <ul class="footer_wthree_gridf_list">
                    <li>
                        <a href="login.html"><span class="fa fa-angle-right" aria-hidden="true"></span> Login </a>
                    </li>

                    <li>
                        <a href="register.html"><span class="fa fa-angle-right" aria-hidden="true"></span>Register</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-angle-right" aria-hidden="true"></span>Privacy & Policy</a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="w3ls-fsocial-grid">
            <h3 class="sub-w3ls-headf">Follow Us</h3>
            <div class="social-ficons">
                <ul>
                    <li><a href="#"><span class="fa fa-facebook"></span> Facebook</a></li>
                    <li><a href="#"><span class="fa fa-twitter"></span> Twitter</a></li>
                    <li><a href="#"><span class="fa fa-google"></span>Google</a></li>
                </ul>
            </div>
        </div>
        <div class="move-top text-center mt-lg-4 mt-3">
            <a href="#home"><span class="fa fa-angle-double-up" aria-hidden="true"></span></a>
        </div>
    </div>
</div>
<!-- //footer -->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();

  </script>
</body>

</html>
{% endblock %}
