{% extends "shop/base.html" %}
{% block title %}
Checkout
{% endblock %}
{% block content %}
<body>
    

    <div class="container main-sec" >
        <div class="order-info row ">
            <div class="col-lg-5">
                
                <h2>Your order:</h2><br>
                <div class="cart-details">
                    <ul>
                        {% for item in cart %}
                        <li>
                            {{ item.quantity }}x {{ item.product.name }}<span> Ksh.{{ item.total_price }}</span>
                        </li>
                        {% endfor %}
                    </ul>    
                    <p>Total: Ksh {{ cart.get_total_price }}</p>
                </div>
                
            </div>
            <div class="col-lg-7">
                <h2>Checkout: </h2><br>

    
                    <form action="." method="post" class="order-form"  >
                        {{ form.as_p }}
                        <p><input class="btn btn-danger" type="submit" value="Place Order & Checkout "></p>
                        {% csrf_token %}
                    </form>
            </div>

        </div>
    </div>
</body>
{% endblock %}